# Como preeencher dados que estão faltando em uma base de dados

## Imports

In [4]:
import numpy as np
import pandas as pd

## Carregando Base de Dados

In [5]:
!git clone https://github.com/Crissky/MLUD.git

fatal: destination path 'MLUD' already exists and is not an empty directory.

In [9]:
dataset = pd.read_csv('MLUD/Aula 01/svbr.csv', delimiter=';')

In [10]:
dataset.head()

                      Canal  Inscritos  Visualizações
0  Site Arqueologia Egípcia    13438.0       406590.0
1               Terra Negra    35241.0       868235.0
2               Frank Jaava    31680.0      2856508.0
3            Dispersciência    25100.0       150000.0
4               Olá Ciência    32788.0      1575456.0